* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
    background: rgb(30 30 30);
    padding-inline: 3.5vw;
}

header {
  width: 100%;
  padding: 25px 0;
}

header nav {
  max-width: 1608px;
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .submenu {
  display: flex;
  column-gap: 2rem;
}

.submenu a {
  background: transparent;
  display: inline-block;
  color: #eeeef0;
  font-size: 24px;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: -0.5px;
  text-decoration: none;
}

header .header__logo a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin-bottom: 0;
}

.about,
.design {
  background-color: #151518;
  color: white;
  border: none;
  font-size: 24px;
}

.socialMedia {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.icons {
  display: flex;
  column-gap: 2rem;
}


.home__section {
  position: relative;
}

.home__section .container {
  max-width: 1608px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.home__section .container .textInfo {
  max-width: 923px;
  width: 100%;
}

.home__section .container .textInfo h1 {
  color: #f5f5f7;
  font-size: 56px;
  font-weight: 700;
  line-height: 128.571%;
  margin-bottom: 2rem;
}

.textInfo p {
    color:  #C5C5CC;
    font-size: 20px;
    font-weight: 700;
    line-height: 360%;
    margin-bottom: 2rem;
}


.imageInfo {
    max-width: 860px;
}

.imageInfo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__section,
.design__section {
  width: 100%;
  background-color: black;
}
